In [40]:
import pandas as pd
import glob
import json
import os

In [96]:
# 

dict_of_logs = {}
for name in glob.glob('logs/*'):
    with open(name, "rb") as f :
        dict_resp = json.load(f)
        dict_resp['resp'] = dict_resp['choices'][0]['message']['content']
        dict_of_logs[name] = dict_resp

df = pd.DataFrame.from_dict(dict_of_logs, orient='index')
df = df[df['resp'] != ""]
df["gen_label"]= [1 if resp.find("1")>-1 else 0 for resp in df["resp"]]
df['agree'] = df['label']==df['gen_label']

df.to_csv("chat_mo_results.csv")

df.groupby(['model','prompt_type']).agg(
     tot_resp = ('agree','count'),
     num_correct = ('agree','sum'),
     ).reset_index()

                          model   prompt_type  tot_resp  num_correct
0          ggml-mpt-7b-instruct           cot        15            8
1          ggml-mpt-7b-instruct           few        15            8
2          ggml-mpt-7b-instruct           sbs        15           10
3          ggml-mpt-7b-instruct        simple        15            9
4            gpt-3.5-turbo-0613           cot        15           13
5            gpt-3.5-turbo-0613           few        15           15
6            gpt-3.5-turbo-0613           sbs        15           14
7            gpt-3.5-turbo-0613        simple        15           13
8                    gpt-4-0613           cot        15           15
9                    gpt-4-0613           few        15           15
10                   gpt-4-0613           sbs        15           15
11                   gpt-4-0613        simple        15           15
12  nous-hermes-13b.ggmlv3.q4_0           few        15            7
13  nous-hermes-13b.ggmlv3.q4_0  messages_cot        15           11
14  nous-hermes-13b.ggmlv3.q4_0           sbs        15           12
15  nous-hermes-13b.ggmlv3.q4_0        simple        15            7
16    orca-mini-13b.ggmlv3.q4_0           cot         5            5
17    orca-mini-13b.ggmlv3.q4_0           few        15            6
18    orca-mini-13b.ggmlv3.q4_0           sbs        15            6
19    orca-mini-13b.ggmlv3.q4_0        simple        15            7

In [ ]:
for resp in df["resp"]:
    print(resp)
    print(resp.find("1"))